<header class="site-header">
  <div class="container nav-wrap">
    <a class="logo" href="index.html">
      <strong>Plu Landscaping</strong>
      <span>Outdoor Living & Hardscape</span>
    </a>

    <button class="nav-toggle" aria-label="Open menu">☰</button>

    <nav class="nav">
      <a class="active" href="#">Home</a>
      <a href="#">Services</a>
      <a href="#">About Us</a>
      <a href="#">Gallery</a>
      <a href="#">Contact</a>
      <a class="btn" href="#">Get a Quote</a>
    </nav>
  </div>
</header>
<main>
  <h1>Mi primer componente</h1>
</main>
<!-- FOOTER HERO -->
<section class="footer-hero">
  <div class="footer-hero-overlay">
    <h2>LET’S BUILD SOMETHING GREAT.</h2>
  </div>
</section>

<!-- MAIN FOOTER -->
<footer class="footer">
  <div class="container footer-grid">


    <!-- LEFT -->
    <div class="footer-col">
      <img src="./../../assets/images/footer/pluLogo.png" alt="Plu Landscaping Logo">
      <h3>Plu Landscaping</h3>
      <p>Outdoor Living & Hardscape</p>


    </div>

    <!-- SERVICES -->
    <div class="footer-col">
      <h4>Services</h4>
      <ul>
        <li>Pavers</li>
        <li>Retaining Walls</li>
        <li>Patios & Outdoor Living</li>
        <li>Fences</li>
      </ul>
    </div>

    <!-- LINKS -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <p>📍 Salt Lake City, Utah</p>
      <p>📞 <a href="tel:8015010014">801-501-0014</a></p>
      <p>✉️ <a href="mailto:plulanfdscaoing@gmail.com">plulanfdscaoing@gmail.com</a></p>
    </div>

    <!-- SOCIAL -->
    <div class="footer-col">
      <h4>Follow Us</h4>
      <div class="social">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Plu Landscaping. All rights reserved.
  </div>
</footer>
